#pmenu{
    display: none;
    opacity: 0;
    transition: all 1s;
}
.title{
    display: inline-block;
    width: 100vw;
}
.icon{
    margin-bottom: 2vh;
}
.rectangle{
    display: none;
}
.text{
    font-size: clamp(1em,2em,3em);
}
.hero{
    max-width: auto;
}