@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
/* 初期化 */
*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body{
    background-color: #3498db;
}
/* グローバルナビゲーション */
#pmenu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.471);
    backdrop-filter: blur(20px);
}
#pmenu ul li{
    display: inline-block;
    width: 10vw;
    margin-right: 3vw;
    margin-top: 3vh;
}
/* メニュー */
li{
    list-style: none;
}
.burger {
    z-index: 9999;
    bottom: 50px;
    height: 80px;
    position: fixed;
    z-index: 9999;
    right: 50px;
    width: 75px;
}
#burger{
    display: none;
}
.slist{
    margin-top: 40px;
    text-align: center;
    font-size: xx-large;
}
.smsvg{
    width: 40px;
    height: auto;
}
.sitem{
    margin-top: 40px;
}
#menu{
    background: black;
    animation: bg 29s ease-in-out infinite;
    top: 0;
    font-family: Josefin Sans, roboto;
    left: 0;
    width: 100%;
    z-index: 9998;
    position: fixed;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    transform: translateX(-200%);
}
#burger:checked ~ #menu{
    transform: translateZ(0px);
}
@keyframes bg {
    0% {
        background-color: #dc3434;
    }

    5% {
        background-color: rgb(255, 115, 0);
    }

    10% {
        background-color: #faf200;
    }

    15% {
        background-color: #77d71d;
    }

    20% {
        background-color: #3498db;
    }

    25% {
        background-color: #9b59b6;
    }

    30% {
        background-color: #e73c3c;
    }

    35% {
        background-color: #3498db;
    }

    40% {
        background-color: #f1c40f;
    }

    50% {
        background-color: rgb(10, 248, 113);
    }

    55% {
        background-color: rgb(10, 216, 248);
    }

    60% {
        background-color: rgb(10, 141, 248);
    }

    65% {
        background-color: rgb(10, 10, 248);
    }

    70% {
        background-color: rgb(189, 10, 248);
    }

    75% {
        background-color: rgb(248, 10, 121);
    }

    80% {
        background-color: rgb(248, 10, 10);
    }

    85% {
        background-color: rgb(14, 140, 243);
    }

    90% {
        background-color: rgb(0, 255, 153);
    }

    95% {
        background-color: rgb(14, 140, 243);
    }

    100% {
        background-color: rgb(0, 0, 0);
    }
}
.bar {
    background: #848383;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    transition: all 500ms;
    width: 120%;
}

.bun-top {
    transform: translate3d(0, 0, 0);
}

.lettuce {
    transform: translate3d(0, -25px, 0) scaleY(0);
    opacity: 0;
}

.mustard {
    transform: translate3d(-75px, 0, 0) scaleY(0);
    opacity: 0;
}

.ketchup {
    transform: translate3d(75px, 0, 0) scaleY(0);
    opacity: 0;
}

.patty {
    transform: translate3d(0, 15px, 0);
}

.bun-bot {
    transform: translate3d(0, 30px, 0);
}

.on .bar {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.on .bun-top {
    background: #d7b48a;
    border-radius: 20px;
    transform: translate3d(0, 0, 0) scaleY(1.5);
}

.on .lettuce {
    background: #62c852;
    transform: translate3d(0, 20px, 0) scaleY(0.5);
    opacity: 1;
    transition-delay: 200ms;
}

.on .mustard {
    background: #e5e360;
    transform: translate3d(0, 30px, 0) scaleY(0.5);
    opacity: 1;
    transition-delay: 400ms;
}

.on .ketchup {
    background: #ce4a4a;
    transform: translate3d(0, 40px, 0) scaleY(0.5);
    opacity: 1;
    transition-delay: 600ms;
}

.on .patty {
    background: #3d362a;
    transform: translate3d(0, 50px, 0) scaleY(1);
}

.on .bun-bot {
    background: #d7b48a;
    border-radius: 20px;
    transform: translate3d(0, 65px, 0) scaleY(1.5);
}
#menu ul li a{
    text-decoration: none !important;
    color: white !important;
}
#pmenu ul li a{
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}