@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
.rectangle{
    width: 60vw;
    height: 60vh;
    background-color: rgb(100, 100, 100);
    animation: hero 2s infinite ease-in-out,bg 30s infinite ease-in-out;
    margin-top: 150vh;
    margin-left: auto;
    margin-right: auto;
}