@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
.rectangle{
    width: 60vw;
    height: 60vh;
    background-color: rgb(100, 100, 100);
    animation: hero 2s infinite ease-in-out,bg 30s infinite ease-in-out;
    margin-top: 150vh;
    margin-left: auto;
    margin-right: auto;
}

.big{
    display: inline-block;
    font-size: 4em;
    font-family: Noto Sans JP;
}
.big1{
    margin-left: 20vw;
}
.big2{
    margin-left: 30vw;
}
.big-active{
    display: inline-block;
    animation: weakpoint 700ms forwards ease-in-out;
}
@keyframes weakpoint{
    0%{
        transform: skewX(200deg);
    }
    100%{
        transform: skewX(0deg);
    }
}