.rectangle{
    width: 60vw;
    height: 60vh;
    background-color: rgb(100, 100, 100);
    animation: hero 2s infinite ease-in-out,bg 30s infinite ease-in-out;
    margin-top: 150vh;
    margin-left: auto;
    margin-right: auto;
}
.big{
    font-size: 4em;
    font-family: Noto Sans JP;
}
.big-active{
    animation: weakpoint 700ms forwards ease-in-out;
}
@keyframes weakpoint{
    0%{
        transform: scale(180);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes hero{
    0%{
        transform:skewX(100deg);
    }
    50%{
        transform:skewX(360deg);
    }
    100%{
        transform:skewX(100deg);
    }
}