.products{
    margin-top: 5vh;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.product{
    padding: 0;
    display: inline-block;
    width: 49vw;
    position: relative;
    background: white;
    color: rgb(57,57,57);
    margin-bottom: 20px;
    border-radius: 30px;
    border: solid 2px #00b3ff;
}
.product a{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
.product img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 48vw;
    max-width: 50vh;
}
.hero:nth-child(2){
    height: 200vh;
}
