.products{
    margin-top: 5vh;
    display: flex;
    flex-direction:row
}
.product{
    padding: 0;
    z-index: 1;
    display: inline-block;
    width: 49vw;
    position: relative;
    background: white;
    color: rgb(57,57,57);
    border: solid 2px #00b3ff;
}
.product .info{
    position: absolute;
    top: 0;
    background-color: #00b3ff;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.product a{
    position: absolute;
    display: block;
    width: 50vw;
    height: 50vh;
}
.d-f-a{
    display: block !important;
    transition: all 1s ease-in-out;
    opacity: 1;
}
.product img{
    max-width: 48vw;
    max-width: 50vh;
}
